<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="my_conn" connectionString="Server=(local)\sqlexpress; Database=v11_GEDEON_TEST_DATA; Trusted_Connection=True;" />
    <add name="dataConnection" connectionString="Data Source=(local)\sqlexpress;Initial Catalog=v11_GEDEON_TEST_DATA;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>